In [9]:
import pandas as pd
import numpy as np

array_1=np.random.randint(0,20,100).reshape((10,10))
df_1=pd.DataFrame(array_1,columns=["A","B","C","D","E","F","G","H","I","J"])
print(df_1)
df_2=df_1.copy()

    A   B   C   D   E   F   G   H   I   J
0  16   7  12   5   0   0   4   0  19   0
1  10  16  12   9   5  13  17  11  11  10
2   2   7  18   8   5   9   8   5  12   9
3  18   1   6   0  18  17  19  13  19   5
4   5  19   6   0   0  18  16   8  15  11
5   3  16   9   4   6  13  10  14   3  16
6  15  13  12   1  18   7  14  19   5  19
7  12  10  11  18  16   6  19  19   1  14
8   8  18  18   8  17   6   7   5   9   1
9  14  12  12   6  17   3   8   3   9  16

In [15]:
df_2.isin([17])

       A      B      C      D      E      F      G      H      I      J
0  False  False  False  False  False  False  False  False  False  False
1  False  False  False  False  False  False   True  False  False  False
2  False  False  False  False  False  False  False  False  False  False
3  False  False  False  False  False   True  False  False  False  False
4  False  False  False  False  False  False  False  False  False  False
5  False  False  False  False  False  False  False  False  False  False
6  False  False  False  False  False  False  False  False  False  False
7  False  False  False  False  False  False  False  False  False  False
8  False  False  False  False   True  False  False  False  False  False
9  False  False  False  False   True  False  False  False  False  False

In [22]:
df_2.iloc[:,:5].isin([17]).value_counts()

A      B      C      D      E
False  False  False  False  False    8
                            True     2
Name: count, dtype: int64

In [35]:
print(df_2.iloc[2:4,8].isin([19]).value_counts())

I
False    1
True     1
Name: count, dtype: int64

In [36]:
print(np.sqrt(df_2))

          A         B         C         D         E         F         G  \
0  4.000000  2.645751  3.464102  2.236068  0.000000  0.000000  2.000000
1  3.162278  4.000000  3.464102  3.000000  2.236068  3.605551  4.123106
2  1.414214  2.645751  4.242641  2.828427  2.236068  3.000000  2.828427
3  4.242641  1.000000  2.449490  0.000000  4.242641  4.123106  4.358899
4  2.236068  4.358899  2.449490  0.000000  0.000000  4.242641  4.000000
5  1.732051  4.000000  3.000000  2.000000  2.449490  3.605551  3.162278
6  3.872983  3.605551  3.464102  1.000000  4.242641  2.645751  3.741657
7  3.464102  3.162278  3.316625  4.242641  4.000000  2.449490  4.358899
8  2.828427  4.242641  4.242641  2.828427  4.123106  2.449490  2.645751
9  3.741657  3.464102  3.464102  2.449490  4.123106  1.732051  2.828427

          H         I         J
0  0.000000  4.358899  0.000000
1  3.316625  3.316625  3.162278
2  2.236068  3.464102  3.000000
3  3.605551  4.358899  2.236068
4  2.828427  3.872983  3.316625
5  3.741657  1.732051  4.000000
6  4.358899  2.236068  4.358899
7  4.358899  1.000000  3.741657
8  2.236068  3.000000  1.000000
9  1.732051  3.000000  4.000000

In [49]:
df_3 = pd.DataFrame(np.arange(0, 360,0.5), columns=["Data_1"])
df_3["Data_2"] = np.sin(df_3["Data_1"])
print(df_3)

     Data_1    Data_2
0       0.0  0.000000
1       0.5  0.479426
2       1.0  0.841471
3       1.5  0.997495
4       2.0  0.909297
..      ...       ...
715   357.5 -0.598448
716   358.0 -0.141090
717   358.5  0.350811
718   359.0  0.756822
719   359.5  0.977536

[720 rows x 2 columns]